body {
  background: url("yellow_bck.jpg");
  background-size: cover;
  line-height: 2.5;
}

.container {
  margin-top: 90px;
  height: 400px;
  background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
}

h3 {
  text-align: center;
  margin-top: 70px;
}

#score {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

#correctAnswers {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}
